:root{
    --primary-color:  rgb(236, 199, 78);
    --foreground-color: transparent;
    --bg-color: #555;
    --color-2:  #567449;
}

.contactUs_body{
    background-color: antiquewhite;
    
    

header {
    background-color: #ffffff; /* white header for contrast */
    box-shadow: 0 2px 6px rgba(0,0,0,.06);
    position: sticky; top:0; z-index: 1000;
  }
  .container { 
     max-width: 1200px; 
     margin: 0 auto; 
     padding: 0 1rem; 
 }
  .nav-wrapper { 
     display: flex; 
     align-items: center; 
     justify-content: space-between; 
     height: 70px; 
 }
  .logo { 
     font-size: 1.5rem; 
     font-weight: 700; 
 }
  nav ul { 
     display: flex; 
     gap: 1.5rem; 
     list-style: none; 
 }
  nav li { }
  nav a { 
     padding: .5rem 1rem; 
     border-radius: 4px; 
     transition: background .10s ease; 
 }
  nav a:hover { 
     background: rgba(0,0,0,.05); 
     border-radius: 20px ;
     box-shadow: #c43737 0px 0px 3px 1px;
 }
section{

   

}
#form_btn{
    background-color: #000000;
    color: #ffffff;
    border-radius: 7px;
    width: 46%;
    height: 37px;
    box-shadow: #00ffff 0px 0px 4px 2px;
}

.container1{
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.h1{
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.mini{
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    
    
}
.mini2{
   
    background-color: #ffffff;
    
   
}
.mini3{margin-right: 20px;
    
}
.mini4{
    display: flex;
}

.mini5{
    margin-left: 20px;
}
.image-container{
    
    width: 20%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
}
.image-container img{
    width: 100%;
    height: auto;
}

.container { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 1rem; 
}
footer { 
    background:#722f37; 
    color:#fff; 
    padding:2rem 0; 
    text-align:center; 
    margin-top:4rem; 
}
i:hover{
    color: #00ffff;
}
a:hover{
    color: aqua;
    transform: scale(1.5);
    transition: all 1.40s ease;
}
.bx{
    font-size: 10px;
        display: flex;
        justify-content: center;
        gap:1px;
        margin-top: 10px;
}

/* @media (max-width: 127px), (min-width: 400px) {h3{
text-align: center;
font-style: italic;
font-family: sans-serif;
}
}

section{
    display: flex;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 60px;
    margin-bottom: 0px;
}
@media(max-width: 0px), (min-width: 200px){
    #img{
        width:100px ;
        height: auto;
        margin-top: 10px;
    }
    
}
@media(max-width: 200px), (min-width: 600px){
    #img{
        width:200px ;
        height: auto;
        margin-top: 10px;
    }
    
}
@media(max-width: 600px), (min-width:800px){
    #img{
        width:300px ;
        height: auto;
        margin-top: 10px;
    } 
}
@media(max-width: 800px), (min-width:1000px){
    #img{
        width:400px ;
        height: auto;
        margin-top: 10px;
    } 
} */
