:root{
    --primary-color:  rgb(236, 199, 78);
    --foreground-color: transparent;
    --bg-color: #555;
    --color-2:  #567449;
}

.contactUs_body{
    background-color: antiquewhite;
    
}
header {
    background-color: transparent;
    color: white;
    text-align: center;
    height: 100px;
    margin-top: -10px; /* Remove margin between header and nav bar */
}
nav{
    background-color: rgb(243, 238, 238);
    padding: 1px;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    width: 400px;
    height: 69px;
    position: absolute;
    z-index: 1;
    margin-top: 0; /* Ensure nav bar is directly below the header */
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0px 0px 5px 0px var(--bg-color);
    right: 0; /* Move the nav bar to the right */
}
li{
    display: inline;
    margin: 5px;
}
nav a{
    color: rgb(98, 192, 10);
    text-decoration: none;
    text-align: center;
    width: 2;
    padding: 15px;
    margin: 0;
    
}
nav a:hover {
    color: #567449;
    border: 1px solid;
    text-decoration: none;
    border-radius: 30px;
    transform: scale(1.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
a.active{
    background-color: var(--bg-color);
    border-radius:25px ;
    color: yellow;
}
a.active:hover{
    color: rgb(236, 236, 112);
    border: none;
}

.contactUs_section{
    display: flex;
    margin-top: 160px;
    margin-left: 160px;
    margin-right: 60px;
    margin-bottom: 0px;

}
#contactUs_img{
    width:275px ;
    height: 334px;
    margin-top: 10px;
}
.contactUs_h1{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}
.content_container{
    margin-left: 40px;
}

#contactUs_container{
    border: 2px solid;
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

.contactUs_lable{
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contactUs_input{
    border: none;
    border-bottom: 4px solid;
    background: transparent;
    outline: none;
    padding: 3px 0;
    font-size: 20px;  
}
#form_btn{
    background-color: #000000;
    color: #ffffff;
    border-radius: 7px;
    width: 46%;
    height: 37px;
}

.contactUs_div1{margin-top: 15px;
    margin-bottom:15px ;
    margin-left: 15px;

}

.contactUs_h5{
    font-weight: bold;
}
.contactUs_span{
    text-decoration: transparent;
    opacity: 0.4;
}
.contactUs_bx{
    font-size: 50px;
    
}
i:hover{
    color: #0b2969;
}
a:hover{
    color: aqua;
    transform: scale(1.5);
    text-decoration: underline;
    transition: all 1.40s ease;
}