:root{
    --primary-color:  rgb(236, 199, 78);
    --foreground-color: transparent;
    --bg-color: #555;
    --color-2:  #567449;
}

.contactUs_body{
    background-color: antiquewhite;
    
    
}

header {
    background-color: transparent;
    color: white;
    text-align: center;
    height: 100px;
    margin-top: -10px; /* Remove margin between header and nav bar */
}
nav{
    background-color: rgb(243, 238, 238);
    padding: 1px;
    align-items: center;
    align-content: center;
    text-align:right;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    width: 100%;
    height: 69px;
    position: absolute;
    z-index: 1;
    margin-top: 0; /* Ensure nav bar is directly below the header */
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0px 0px 5px 0px var(--bg-color);
    right: 0; /* Move the nav bar to the right */
}
li{
    display: inline;
    margin: 5px;
}
nav a{
    color: rgb(98, 192, 10);
    text-decoration: none;
    text-align: center;
    width: 2;
    padding: 15px;
    margin: 0;
    
    
}
nav a:hover {
    color: #567449;
    border: 1px solid;
    text-decoration: none;
    border-radius: 30px;
    transform: scale(1.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
a.active{
    background-color: var(--bg-color);
    border-radius:25px ;
    color: yellow;
}
a.active:hover{
    color: rgb(236, 236, 112);
    border: none;
}

section{

   

}
.container{
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.h1{
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.mini{
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    
    
}
.mini2{
   
    background-color: #ffffff;
    
   
}
.mini3{margin-right: 20px;
    
}
.mini4{
    display: flex;
}

.mini5{
    margin-left: 20px;
}
.image-container{
    
    width: 20%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
}
.image-container img{
    width: 100%;
    height: auto;
}

 footer{
    background-color: rgb(117, 94, 94);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    border: 1px solid black;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0px 0px 5px 0px var(--bg-color);
} 
.socials{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.socials a:hover {
    color: #00ffff;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


/* @media (max-width: 127px), (min-width: 400px) {h3{
text-align: center;
font-style: italic;
font-family: sans-serif;
}
}

section{
    display: flex;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 60px;
    margin-bottom: 0px;
}
@media(max-width: 0px), (min-width: 200px){
    #img{
        width:100px ;
        height: auto;
        margin-top: 10px;
    }
    
}
@media(max-width: 200px), (min-width: 600px){
    #img{
        width:200px ;
        height: auto;
        margin-top: 10px;
    }
    
}
@media(max-width: 600px), (min-width:800px){
    #img{
        width:300px ;
        height: auto;
        margin-top: 10px;
    } 
}
@media(max-width: 800px), (min-width:1000px){
    #img{
        width:400px ;
        height: auto;
        margin-top: 10px;
    } 
} */
